* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}


.navbar{
    background-color: #059669;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}


.signup {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.signup:hover{
    color: #1e293b;
}

body {
  background-color: #f7f7f7;
}

form {
  margin: 40px auto;
  max-width: 600px;
  padding: 0 20px;
}

form h3 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-top: 10px;
  font-weight: 500;
  color: #333;
}

.form-control {
  padding: 10px;
  margin-top: 4px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  margin-top: 20px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #667eea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #227252;
}

/* Flash Message Container */
.flash-message {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    position: relative;
}

/* Error Message Style */
.flash-message.error {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid #ef9a9a;
}

/* Success Message Style */
.flash-message.success {
    background-color: #e8f5e9;
    color: #2e7d32;
    border: 1px solid #a5d6a7;
}


.flash-message .close {
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #999;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}

.close:hover {
  color: #555;
}
a {
  text-decoration: none;
  color: inherit; /* optional: use surrounding text color */
}

a:hover {
  text-decoration: underline; /* or none */
  color: #04203e; /* optional hover color */
}